/* General Rules */

:root {
  --color-primary: #e67e22;
  --color-secondary: ;
  --color-accent: #ff3400;
  --color-accent-tint: #fdf2e9;
  --color-accent-shade: #cf711f;
  --color-grey: #444;
  --color-shade: ;
  --color-tint: ;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.margin-right-sm {
  margin-right: 1.5rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  transition: background 0.4s;
}

.btn--primary:link,
.btn--primary:visited {
  background: var(--color-accent);
  color: whitesmoke;
}

.btn--primary:hover,
.btn--primary:active {
  background: var(--color-accent-shade);
}

.btn--secondary:link,
.btn--secondary:visited {
  background: #cccccc;
  color: var(--color-grey);
}

.btn--secondary:hover,
.btn--secondary:active {
  background: var(--color-grey);
  color: white;
  /* Trick to create an inside border */
  box-shadow: inset 0 0 0 3px var(-);
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-grey);
}

/* Hero */

.section-hero {
  background: var(--color-accent-tint);
  padding: 9.6rem 0;
}

.hero {
  align-items: center;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  max-width: 130rem;
}

.hero-primary {
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  margin-bottom: 4.8rem;
}

.hero-customers {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  /* We set the double gap of the negative margin we have used to the imgs */
  gap: 3.2rem;
}

.hero-customer-images {
  display: flex;
}

.hero-customer-images img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid var(--color-accent-tint);
}

.meals-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.meals-text span {
  color: var(--color-accent-shade);
  font-weight: 700;
}
