/***********************/
/* General Rules */
/***********************/

:root {
  --color-primary: #e67e22;
  --color-secondary: ;
  --color-accent: #ff3400;
  --color-accent-tint: #fdf2e9;
  --color-accent-shade: #cf711f;
  --color-grey: #444;
  --color-shade: ;
  --color-tint: ;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 3.2rem;
}

.grid {
  column-gap: 6.4rem;
  display: grid;
  row-gap: 9.6rem;
}

.grid--vertical-aligned {
  align-items: center;
}

.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}

.margin-right-sm {
  margin-right: 1.5rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  transition: background 0.4s;
}

.btn--primary:link,
.btn--primary:visited {
  background: var(--color-accent);
  color: whitesmoke;
}

.btn--primary:hover,
.btn--primary:active {
  background: var(--color-accent-shade);
}

.btn--secondary:link,
.btn--secondary:visited {
  background: #cccccc;
  color: var(--color-grey);
}

.btn--secondary:hover,
.btn--secondary:active {
  background: var(--color-grey);
  color: white;
  /* Trick to create an inside border */
  box-shadow: inset 0 0 0 3px var(-);
}

/***********************/
/* Typography */
/***********************/
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-grey);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin: 2rem 0 9.6rem 0;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin: 0;
}

.subheading {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-accent-shade);
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.75px;
}

.heading-featured-in {
  color: #888;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
  text-align: center;
  text-transform: uppercase;
}

/***********************/
/* Header */
/***********************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-accent-tint);
  padding: 3.2rem 4.8rem 0;
}

.logo {
  height: 2.2rem;
  width: 20rem;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 3rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-weight: 500;
  font-size: 1.8rem;
  text-decoration: none;
  color: #444;
  transition: color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-accent-shade);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
  color: whitesmoke;
  background: var(--color-primary);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background: var(--color-accent-shade);
}
/***********************/
/* Hero */
/***********************/

.section-hero {
  background: var(--color-accent-tint);
  padding: 9.6rem 0;
}

.hero {
  align-items: center;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  margin-bottom: 4.8rem;
}

.hero-customers {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  /* We set the double gap of the negative margin we have used to the imgs */
  gap: 3.2rem;
}

.hero-customer-images {
  display: flex;
}

.hero-customer-images img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid var(--color-accent-tint);
}

.meals-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.meals-text span {
  color: var(--color-accent-shade);
  font-weight: 700;
}

/***********************/
/* Header */
/***********************/

.section-featured {
  padding: 4.8rem 0 0 0;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  /*  Overwriting the main image width to auto
  in order to show them more natural to the page */
  width: auto;
  /* Transform the logos into gray with the next trick */
  filter: brightness(0);
  opacity: 0.5;
}
/***********************/
/* How IT WORKS*/
/***********************/

.section-how {
  padding: 9.6rem 0;
}
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  /* Moving the upper left edge to the center */
  top: 50%;
  left: 50%;
  /* Centering the square in adition to the image */
  transform: translate(-50%, -50%);
  /* Make the square into cirle */
  border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  /* A trick to set the height of 60% by using the padding
    It uses the padding as the width of its parent height*/
  padding-bottom: 60%;
  /* Moving the cirle to the back */
  z-index: -2;
  background: var(--color-accent-tint);
}

.step-img-box::after {
  width: 45%;
  /* A trick to set the height of 60% by using the padding
    It uses the padding as the width of its parent height*/
  padding-bottom: 45%;
  /* Moving the cirle to the back */
  z-index: -1;
  background: #fae5d3;
}

.step-img {
  width: 35%;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #aaa;
  margin: 0;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-top: 3rem;
}
