/***********************/
/* General Rules */
/***********************/

:root {
  --color-primary: #e67e22;
  --color-secondary: ;
  --color-accent: #ff3400;
  --color-accent-tint: #fdf2e9;
  --color-accent-shade: #cf711f;
  --color-grey: #444;
  --color-vegetarian-tag: #51cf66;
  --color-vegan-tag: #94d82d;
  --color-paleo-tag: #ffd43b;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;
}

strong {
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 3.2rem;
}

.grid {
  column-gap: 6.4rem;
  display: grid;
  row-gap: 9.6rem;
}

.grid--testimonials {
  display: grid;
  align-items: center;
}

.grid--testimonial {
  display: grid;
  row-gap: 4.8rem;
  column-gap: 6rem;
}

.grid--gallery {
  display: grid;
  gap: 1.6rem;
}

.grid--vertical-aligned {
  align-items: center;
}

.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--2cols-55-45 {
  grid-template-columns: 60fr 40fr;
}

.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5cols {
  grid-template-columns: repeat(5, 1fr);
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  transition: all 0.4s;
  cursor: pointer;
  border: none;
}

.btn--primary:link,
.btn--primary:visited {
  background: var(--color-accent);
  color: whitesmoke;
}

.btn--primary:hover,
.btn--primary:active {
  background: var(--color-accent-shade);
}

.btn--secondary:link,
.btn--secondary:visited {
  background: var(--color-grey);
  color: white;
}

.btn--secondary:hover,
.btn--secondary:active {
  background: #aaa;
  color: var(--color-grey);
  /* Trick to create an inside border */
  box-shadow: inset 0 0 0 3px var(-);
}

.btn--link:link,
.btn--link:visited {
  background: var(--color-accent-shade);
  color: whitesmoke;
}

.btn--link:hover,
.btn--link:active,
.btn--form:hover {
  background: #fff;
  color: var(--color-accent-shade);
  box-shadow: inset 0 0 0 3px var(--color-accent-shade);
}

.btn--form {
  background: var(--color-accent-shade);
  color: whitesmoke;
  padding: 1.2rem;
  width: 85%;
}

.list {
  list-style: none;
  display: flex;
  /* It should be change to row for mobile */
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 3rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: var(--color-accent-shade);
}

/* Helper classes */

.margin-right-sm {
  margin-right: 1.5rem;
}

.margin-bottom-md {
  margin-bottom: 4.8rem;
}

.margin-top-lg {
  margin-top: 9.6rem;
}

.text-center {
  text-align: center;
}

/* Mobile version*/

.btn-mobile-nav {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: var(--color-grey);
}

/* hiding the close button */
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/***********************/
/* Typography */
/***********************/
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-grey);
  overflow-x: hidden;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin: 2rem 0 9.6rem 0;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin: 0;
}

.subheading {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-accent-shade);
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.75px;
}

.heading-featured-in {
  color: #888;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
  text-align: center;
  text-transform: uppercase;
}

/***********************/
/* Header */
/***********************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-accent-tint);
  padding: 3.2rem 4.8rem 0;
  position: relative;
}

.logo {
  height: 2.2rem;
  width: 20rem;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-weight: 500;
  font-size: 1.8rem;
  text-decoration: none;
  color: #444;
  transition: color 0.4s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-accent-shade);
}

.main-nav-link-border:link,
.main-nav-link-border:visited {
  border-bottom: 2px solid transparent;
}

.main-nav-link-border:hover,
.main-nav-link-border:active {
  border-bottom: 2px solid currentColor;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
  color: whitesmoke;
  background: var(--color-primary);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background: var(--color-accent-shade);
}

/***********************/
/* Hero */
/***********************/

.section-hero {
  background: var(--color-accent-tint);
  padding: 9.6rem 0;
}

.hero {
  align-items: center;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  margin-bottom: 4.8rem;
}

.hero-customers {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  /* We set the double gap of the negative margin we have used to the imgs */
  gap: 3.2rem;
}

.hero-customer-images {
  display: flex;
}

.hero-customer-images img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid var(--color-accent-tint);
}

.meals-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.meals-text span {
  color: var(--color-accent-shade);
  font-weight: 700;
}

/***********************/
/* Header */
/***********************/

.section-featured {
  padding: 4.8rem 0 0 0;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  /*  Overwriting the main image width to auto
  in order to show them more natural to the page */
  width: auto;
  /* Transform the logos into gray with the next trick */
  filter: brightness(0);
  opacity: 0.5;
}

/***********************/
/* How it works*/
/***********************/

.section-how {
  padding: 9.6rem 0;
}
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  /* Moving the upper left edge to the center */
  top: 50%;
  left: 50%;
  /* Centering the square in adition to the image */
  transform: translate(-50%, -50%);
  /* Make the square into cirle */
  border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  /* A trick to set the height of 60% by using the padding
    It uses the padding as the width of its parent height*/
  padding-bottom: 60%;
  /* Moving the cirle to the back */
  z-index: -2;
  background: var(--color-accent-tint);
}

.step-img-box::after {
  width: 45%;
  /* A trick to set the height of 60% by using the padding
    It uses the padding as the width of its parent height*/
  padding-bottom: 45%;
  /* Moving the cirle to the back */
  z-index: -1;
  background: #fae5d3;
}

.step-img {
  width: 35%;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #aaa;
  margin: 0;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-top: 3rem;
}

/***********************/
/* Meals */
/***********************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 10px;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-image {
  border-radius: 10px 10px 0 0;
}

.meal-content {
  padding: 3.2rem 4.8rem;
  overflow: hidden;
}

.tags {
  display: flex;
  font-weight: 600;
  margin-top: 1rem;
  gap: 1rem;
}

.meal-tag {
  border-radius: 50px;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
}

.meal-tag--vegetarian {
  background: var(--color-vegetarian-tag);
}

.meal-tag--vegan {
  background: var(--color-vegan-tag);
}

.meal-tag--paleo {
  background: var(--color-paleo-tag);
}

.meal-title {
  font-size: 2.4rem;
  color: var(--color-grey);
  font-weight: 600;
  margin-top: 0.75rem;
}

.meal-specifications {
  display: flex;
  /* It should be change to row for mobile */
  flex-direction: column;
  gap: 1.8rem;
  list-style: none;
  padding-left: 0;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-accent-shade);
}

.diets {
  display: flex;
  /* It should be change to row for mobile */
  flex-direction: column;
  align-items: center;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/***********************/
/* Testimonials */
/***********************/

.section-testimonials {
  background: var(--color-accent-tint);
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonial-img {
  width: 7rem;
  border-radius: 50%;
}

.testimonial-text {
  margin-left: 0;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #6f6f6f;
}

.testimonial-name {
  font-size: 1.6rem;
  font-style: italic;
}

.gallery {
  /* the same as the gap of the grid--gallery */
  padding: 1.6rem;
}

.gallery-item {
  margin: 0;
  overflow: hidden;
}

.gallery-item img {
  /* Elliminate the gap between the imgs */
  display: block;
  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
  opacity: 0.9;
  cursor: pointer;
}

/***********************/
/* Pricing */
/***********************/

.section-pricing {
  padding: 9.6rem 0 0 0;
}

.pricing-plan {
  border-radius: 10% 0% 10% 0% / 10% 0% 10% 0%;
  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid var(--color-accent-tint);
  padding: 4.6rem;
}

.pricing-plan--complete {
  background: var(--color-accent-tint);
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  top: 0;
  right: 0;
  color: whitesmoke;
  background: darkslateblue;
  padding: 0.8rem 4rem;
  transform: translate(26%, 60%) rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: var(--color-accent-shade);
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.plan-currency {
  font-size: 3.2rem;
  margin-right: 0.8rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  margin: 0 1.6rem 0 0;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: 0;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.pricing-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  font-style: italic;
}

/***********************/
/* Features */
/***********************/

.feature-icon {
  color: var(--color-accent);
  width: 3.2rem;
  height: 3.2rem;
  padding: 1.5rem;
  border-radius: 50%;
  background: var(--color-accent-tint);
}

.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-top: 1rem;
}

/***********************/
/* CTA */
/***********************/

.section-cta {
  padding: 9.6rem 0;
  background: var(--color-accent-tint);
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
  padding: 0 6.4rem 0 6.4rem;
  column-gap: 1rem;
}

.cta-textbox {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.cta-text {
  margin-bottom: 4.8rem;
}

.cta-imagebox {
  background-image: url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.85;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 1.6rem;
}

.form-element {
  font-family: inherit;
}

.form-element label {
  display: block;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.form-element input,
.form-element select {
  width: 85%;
  padding: 1rem;
  border: 1px solid #999;
  color: #555;
  background: var(--color-accent-tint);
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.form-element input::placeholder {
  color: #888;
}

.form-button {
  align-self: flex-end;
  align-self: end;
}

/***********************/
/* Footer */
/***********************/

.footer {
  padding: 12.8rem 0;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo {
  margin: auto;
}

.logo-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-iconlinks {
  display: flex;
  list-style: none;
  gap: 2.4rem;
  padding-left: 0;
  margin: 0 auto;
}

.social-icon {
  height: 3rem;
  width: 3rem;
  padding-left: 0;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 0 4rem 0;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.footer-nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: var(--color-accent-shade);
}

.instagram:hover,
.instagram:active {
  color: #8a3ab9;
}

.facebook:hover,
.facebook:active {
  color: #4267b2;
}

.twitter:hover,
.twitter:active {
  color: #00acee;
}
